In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

rating_data = pd.read_csv('./data/ratings.csv')
movie_data = pd.read_csv('./data/movies.csv')

rating_data.head(2)

In [ ]:
movie_data.head(2)

In [ ]:
rating_data.drop('timestamp', axis = 1, inplace = True)
rating_data.head(2)

In [ ]:
movie_user_rating = user_movie_rating.pivot_table('rating', index ='title', columns='userId')
user_movie_rating = user_movie_rating.pivot_table('ㅁㅁㅁㅁㅁㅁd =', index='ㄷㄷㄷㄷㄷ',columns='zzz')

In [ ]:
user_movie_rating

In [ ]:
user_movie_rating.head(5)

In [ ]:
movie_user_rating.head()

In [ ]:
movie_user_rating.fillna(0, inplace = True)
movie_user_rating.head(3)

In [ ]:
item_based_collabor = cosine_similarity(movie_user_rating)
item_based_collabor

In [ ]:
item_based_collabor = pd.DataFrame(data = item_based_collabor, index = movie_user_rating.index, columns = movie_user_rating.index)

In [ ]:
movie_user_rating

In [ ]:
item_based_collabor

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

rating_data = pd.read_csv('./data/all-spot.csv', encoding='cp949')
# movie_data = pd.read_csv('./data/movies.csv')

rating_data.head(100)

In [ ]:
# rating과 reviews 컬럼 추출
ratings = rating_data['rating']
reviews = rating_data['reviews']

# NaN 값이 있는 행 제거
ratings = ratings.dropna()
reviews = reviews.dropna()

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# from sklearn.preprocessing import MinMaxScaler

# # rating과 reviews 값 정규화
# scaler = MinMaxScaler()
# ratings_norm = scaler.fit_transform(ratings.values.reshape(-1, 1))
# reviews_norm = scaler.fit_transform(reviews.values.reshape(-1, 1))

# # 정규화된 rating과 reviews를 합쳐서 하나의 배열로 만듦
# features = pd.concat([pd.DataFrame(ratings_norm), pd.DataFrame(reviews_norm)], axis=1)

# # Cosine Similarity 계산
# sim_matrix = cosine_similarity(features)

In [ ]:
# for i in sim_matrix:
#     for j in i:
#         print(j, end=" ")
#     print()

In [ ]:
sim_matrix[1][1]

In [ ]:
import numpy as np

# rating과 reviews의 가중치를 지정
rating_weight = 0.6
reviews_weight = 0.4

# 정규화된 rating과 reviews 값을 이용하여 가중평균 계산
weighted_rating = ratings_norm * rating_weight + reviews_norm * reviews_weight

# Cosine Similarity 계산
sim_matrix = cosine_similarity(weighted_rating)

In [ ]:
print(sim_matrix[3500][500])

In [ ]:
print(sim_matrix[0][1])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

# rating과 reviews 값 정규화
scaler = MinMaxScaler()
ratings_norm = scaler.fit_transform(ratings.values.reshape(-1, 1))
reviews_norm = scaler.fit_transform(reviews.values.reshape(-1, 1))

# 정규화된 rating과 reviews를 합쳐서 하나의 배열로 만듦
features = pd.concat([pd.DataFrame(ratings_norm), pd.DataFrame(reviews_norm)], axis=1)

# Cosine Similarity 계산
sim_matrix = cosine_similarity(features)


# 특정 목적지(행)의 이름을 지정
destination_name = "신세계백화점강남점"

# 특정 목적지(행)의 인덱스(index) 찾기
destination_index = rating_data[rating_data['name'] == destination_name]

print(destination_index)

destination_index = destination_index.index[0]

# 특정 목적지(행)과 다른 목적지(행)들과의 유사도 확인
sim_scores = list(enumerate(sim_matrix[destination_index]))

# 유사도가 높은 순서로 정렬
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

# 상위 10개 유사도 출력
top_similarities = sim_scores[1:11]
print(top_similarities)

In [ ]:
item_based_collabor = pd.DataFrame(data = top_similarities, index = movie_user_rating.index, columns = movie_user_rating.index)

In [69]:
# DataFrame으로부터 가장 유사한 여행지 10개 선택
top_n = 10
print(top_n)
top_destinations = df_sim_matrix[destination_name].sort_values(ascending=False)[:top_n].index.tolist()

# 결과 출력
print(top_destinations)
print("dd")

10

KeyError: '신세계백화점강남점'

In [68]:
print(111)

111

In [4]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

def get_similar_destinations(destination, data):
    # 데이터프레임을 읽어옵니다.
    df = pd.read_csv(data, encoding='cp949')
    
    # 입력받은 여행지와 가장 유사한 목적지 10개를 출력하기 위해
    # 데이터프레임의 첫 10개 행만 선택합니다.
    df = df.head(10)
    
    # MinMaxScaler를 이용하여 rating과 reviews 컬럼을 정규화합니다.
    scaler = MinMaxScaler()
    df[['rating', 'reviews']] = scaler.fit_transform(df[['rating', 'reviews']])
    
    # 입력받은 여행지와 비슷한 여행지를 찾기 위해
    # 코사인 유사도를 계산합니다.
    similarities = cosine_similarity(df[['rating', 'reviews']])
    
    # 입력받은 여행지와 유사한 목적지를 찾아 출력합니다.
    destination_index = df[df['name'] == destination].index[0]
    similar_destinations_indices = similarities[destination_index].argsort()[::-1][1:11]
    similar_destinations = df.iloc[similar_destinations_indices][['name', 'address', 'rating', 'reviews']]
    print(similar_destinations)

In [128]:
def get_similar_destinations(destination, data):
    df = pd.read_csv(data, encoding='cp949')
    similarities = cosine_similarity(df[['rating', 'reviews']])
    destination_index = df[df['name'] == destination].index[0]
    print(df[df['name'] == destination])
    similar_destinations_indices = similarities[destination_index].argsort()[::-1][1:11]
    similar_destinations = df.loc[similar_destinations_indices]
    return similar_destinations

In [132]:
from sklearn.metrics.pairwise import cosine_similarity

def get_similar_destinations(destination, data, num_destinations=10):
    df = pd.read_csv(data, encoding='cp949')
    vectors = df[['rating', 'reviews', 'search']].values
    similarities = cosine_similarity(vectors)
    destination_index = df[df['name'] == destination].index[0]
    similar_destinations_indices = similarities[destination_index].argsort()[::-1][1:num_destinations+1]
    similar_destinations = df.loc[similar_destinations_indices]
    return similar_destinations

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

def get_similar_destinations(destination, data, num_destinations=30):
    df = pd.read_csv(data, encoding='cp949')
    vectors = df[['rating', 'reviews']].values
    similarities = cosine_similarity(vectors)
    destination_index = df[df['name'] == destination].index[0]
    similar_destinations_indices = similarities[destination_index].argsort()[::-1][1:num_destinations+1]
    similar_destinations = df.loc[similar_destinations_indices]
    similar_destinations = similar_destinations.sort_values(by='search', ascending=False)
    
    return similar_destinations

In [42]:
get_similar_destinations("현대백화점압구정본점", "./data/all-spot.csv")

,name,address,lat,lng,category,mid_category,sub_category,search,rating,reviews
6,롯데몰김포공항점,서울 강서구 하늘길 38-0,37.566773,126.802512,관광지,쇼핑,쇼핑몰,865618,3.7,55
24,어린이대공원,서울 광진구 능동로 216-0,37.549363,127.081813,관광지,문화관광,테마공원,529603,4.2,62
43,이마트목동점,서울 양천구 오목로 299-0,37.525776,126.870327,관광지,쇼핑,대형마트,316690,2.9,38
48,뚝섬한강공원,서울 광진구 강변북로 2273-0,37.532288,127.081734,관광지,문화관광,도시공원,291462,4.5,65
52,이마트청계천점,서울 중구 청계천로 400-0,37.570873,127.021328,관광지,쇼핑,대형마트,262592,2.9,44
63,이마트왕십리점,서울 성동구 왕십리광장로 17-0,37.562148,127.037942,관광지,쇼핑,대형마트,235845,3.4,47
115,블루스퀘어,서울 용산구 이태원로 294-0,37.540712,127.002658,관광지,문화관광,공연시설,140546,2.9,37
131,가락수산시장,서울 송파구 양재대로 932-0,37.492994,127.112326,관광지,쇼핑,시장,124079,3.2,42
149,현대시티아울렛가산점,서울 금천구 디지털로10길 9-0,37.477356,126.889144,관광지,쇼핑,쇼핑몰,108757,3.0,42
162,조계사,서울 종로구 우정국로 55-0,37.573785,126.981897,관광지,역사관광,종교성지,97990,4.0,56
185,이마트천호점,서울 강동구 천호대로 1017-0,37.538648,127.125367,관광지,쇼핑,대형마트,73127,2.8,42
209,푸른수목원,서울 구로구 연동로 240-0,37.481987,126.823675,관광지,자연관광,자연공원,63520,4.4,56
221,CGV강남,서울 강남구 강남대로 438-0,37.501663,127.026363,관광지,문화관광,공연시설,58158,3.2,44
224,커먼그라운드,서울 광진구 아차산로 200-0,37.540869,127.066014,관광지,쇼핑,쇼핑몰,57559,3.3,47
242,이마트이수점,서울 동작구 사당로 300-0,37.484398,126.980428,관광지,쇼핑,대형마트,49338,2.7,35
361,CGV천호,서울 강동구 양재대로 1571-0,37.545658,127.142244,관광지,문화관광,공연시설,29649,2.7,39
401,마이아트뮤지엄,서울 강남구 테헤란로 518-0,37.507551,127.060561,관광지,문화관광,전시시설,25347,2.7,38
407,롯데시네마청량리,서울 동대문구 왕산로 214-0,37.579293,127.047901,관광지,문화관광,공연시설,24359,2.1,29
433,국립민속박물관,서울 종로구 삼청로 37-0,37.579459,126.978722,관광지,문화관광,전시시설,21968,2.5,33
528,63스퀘어,서울 영등포구 63로 50-0,37.519465,126.939833,관광지,문화관광,복합관광시설,15069,4.5,58
563,여의도공원,서울 영등포구 여의공원로 68-0,37.526808,126.922323,관광지,문화관광,도시공원,13386,4.3,61
590,식물관PH,서울 강남구 광평로34길 24-0,37.479583,127.088548,관광지,문화관광,기타문화관광지,12228,3.2,46
880,서울공예박물관,서울 종로구 율곡로3길 4-0,37.576735,126.983362,관광지,문화관광,전시시설,5214,4.3,54
1071,무신사테라스,서울 마포구 양화로 188-0,37.557762,126.926280,관광지,문화관광,기타문화관광지,3427,3.4,47
1122,뚝섬한강공원뚝섬안내센터,서울 광진구,37.529298,127.069917,관광지,기타관광,기타관광,2990,4.5,65
1200,그라운드시소서촌,서울 종로구 자하문로6길 18-8,37.578024,126.973115,관광지,문화관광,기타문화관광지,2600,3.2,44
1907,평화의 소녀상,서울 종로구 율곡로2길 19-0,37.574444,126.981047,관광지,역사관광,역사유물,708,4.6,67
2164,그랜드인터컨티넨탈그랜드볼룸,서울 강남구 테헤란로 521-0,37.509132,127.060851,관광지,문화관광,공연시설,465,4.5,59
4135,연희사러가,서울 서대문구 연희맛로 23-0,37.567103,126.929637,관광지,쇼핑,쇼핑몰,20,3.5,50
4658,평화의 소녀상,서울 은평구,37.574905,126.980336,관광지,역사관광,역사유물,9,4.6,67

In [5]:
import numpy as np

def haversine(lat1, lng1, lat2, lng2):
    # 지구 반경 (km)
    R = 6371.0088

    # 위도, 경도를 라디안 단위로 변환
    lat1, lng1, lat2, lng2 = map(np.radians, [lat1, lng1, lat2, lng2])

    # haversine 식 적용
    d_lat = lat2 - lat1
    d_lng = lng2 - lng1
    a = np.sin(d_lat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(d_lng/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    distance = R * c

    return distance

In [83]:
def get_similar_destinations(lat, lng, min_distance, max_distance, data, num_destinations=30):
    df = pd.read_csv(data, encoding='cp949')
    vectors = df[['rating', 'reviews', 'search']].values
    similarities = cosine_similarity(vectors)
    distances = df.apply(lambda row: haversine(lat, lng, row['lat'], row['lng']), axis=1)
    within_distance_indices = np.where((distances >= min_distance) & (distances <= max_distance))[0]
    similarities_within_distance = similarities[within_distance_indices][:, within_distance_indices]
    indices_sorted_by_similarity = np.argsort(similarities_within_distance[0])[::-1][1:num_destinations+1]
    similar_destinations = df.loc[within_distance_indices[indices_sorted_by_similarity]]
    similar_destinations = similar_destinations.sort_values(by='search', ascending=False)
    return similar_destinations

In [85]:
lat = 37.5271223
lng = 127.0275897
nearby_destinations = get_similar_destinations(lat, lng, 0,1,'./data/all-spot.csv',num_destinations=10)
nearby_destinations

,name,address,lat,lng,category,mid_category,sub_category,search,rating,reviews
2309,신사개나리공원,서울 강남구 압구정로30길 23-0,37.525852,127.029481,관광지,문화관광,도시공원,369,0.0,0
2372,아시아고아트홀,서울 강남구 언주로153길 17-2,37.522170,127.031658,관광지,문화관광,공연시설,340,0.0,0
2402,바나나홀,서울 강남구 언주로172길 25-0,37.527566,127.036034,관광지,문화관광,공연시설,324,0.0,0
2477,잠원한강공원트랙구장,서울 강남구,37.527501,127.018927,관광지,문화관광,도시공원,289,0.0,0
2529,압구정마트,서울 강남구 언주로151길 11-0,37.521912,127.032349,관광지,쇼핑,대형마트,267,0.0,0
2670,갤러리LVS,서울 강남구 도산대로27길 33-0,37.522021,127.027171,관광지,문화관광,전시시설,220,0.0,0
2759,체터키즈,서울 강남구 압구정로36길 8-0,37.527911,127.031304,관광지,문화관광,테마공원,191,0.0,0
2797,바라아트홀,서울 강남구 논현로161길 20-0,37.523659,127.026500,관광지,문화관광,공연시설,180,0.0,0
3197,오퍼스뮤직아트홀,서울 강남구 도산대로27길 43-0,37.522730,127.027377,관광지,문화관광,공연시설,102,0.0,0
4799,블루해머,서울 강남구 도산대로37길 20-0,37.522241,127.031481,관광지,문화관광,전시시설,6,0.0,0

In [136]:
def get_user_similar_destinations(user_info, data, num_destinations=30):
    df = pd.read_csv(data, encoding='cp949')
    vectors = df[['rating', 'reviews', 'search']].values
    similarities = cosine_similarity([user_info], vectors)
    similar_destinations_indices = similarities[0].argsort()[::-1][:num_destinations]
    similar_destinations = df.loc[similar_destinations_indices]
    return similar_destinations

def get_nearby_destinations(lat, lng, data, min_distance=0, max_distance=1, num_destinations=10):
    df = pd.read_csv(data, encoding='cp949')
    distances = df.apply(lambda row: haversine(lat, lng, row['lat'], row['lng']), axis=1)
    nearby_destinations = df[(distances >= min_distance) & (distances <= max_distance) &  (df['rating'] >= 3.3) & (df['reviews'] >= 20)]
    
    shopping_destinations = nearby_destinations[nearby_destinations['mid_category'] == '쇼핑'][:4]
    other_destinations = nearby_destinations[nearby_destinations['mid_category'] != '쇼핑']
    nearby_destinations = pd.concat([shopping_destinations, other_destinations])
    nearby_destinations = nearby_destinations.sort_values(by='search', ascending=False).iloc[:num_destinations]
    
    return nearby_destinations

def get_recommendations(data, lat, lng, min_distance=0, max_distance=1, num_destinations=10, user_info=None):
    if user_info is not None:
        print('YES!')
        similar_destinations = get_user_similar_destinations(user_info, data, num_destinations)
        return similar_destinations
    else:
        print('None')
        nearby_destinations = get_nearby_destinations(lat, lng, data, min_distance, max_distance, num_destinations)
        return nearby_destinations

In [137]:
lat = 37.5271223
lng = 127.0275897
nearby_destinations = get_recommendations('./data/all-spot.csv',lat, lng, 10,18,num_destinations=10)
nearby_destinations

None

,name,address,lat,lng,category,mid_category,sub_category,search,rating,reviews
8,현대백화점목동점,서울 양천구 목동동로 257-0,37.526825,126.874978,관광지,쇼핑,백화점,750858,4.0,42
15,타임스퀘어,서울 영등포구 영중로 15-0,37.517007,126.904142,관광지,쇼핑,쇼핑몰,583553,4.1,149
21,이마트월계점,서울 노원구 마들로3길 15-0,37.626440,127.061909,관광지,쇼핑,대형마트,530029,3.7,103
35,롯데몰은평점,서울 은평구 통일로 1050-0,37.637363,126.917930,관광지,쇼핑,쇼핑몰,353361,3.5,54
57,망원한강공원,서울 마포구 마포나루길 467-0,37.552496,126.899447,관광지,문화관광,도시공원,241219,4.4,53
65,서울월드컵경기장,서울 마포구 월드컵로 240-0,37.567758,126.898115,관광지,문화관광,레저스포츠시설,214685,4.2,49
103,하늘공원,서울 마포구 하늘공원로 95-0,37.567755,126.885682,관광지,문화관광,도시공원,147678,4.4,106
123,고척스카이돔,서울 구로구 경인로 430-0,37.498489,126.860154,관광지,문화관광,레저스포츠시설,126271,3.9,69
132,난지한강공원,서울 마포구 한강난지로 162-0,37.566015,126.876518,관광지,문화관광,도시공원,115694,4.3,26
160,진관사,서울 은평구 진관길 73-0,37.638388,126.946406,관광지,역사관광,종교성지,88931,4.3,23